:root {
    /* Color Theme Swatches in RGBA */
    --CFColors-darkGrey-rgba: rgb(0, 0, 0);
    --CFColors-grayBlue-rgba: rgba(44, 66, 81, .5);
    --CfColors-darkBlue-rgba: rgba(9, 12, 36, 0.5);
    --CFColors-Orange-rgba: rgba(247, 148, 29, .5);
    --CFColors-ltGrey-rgba: rgba(41, 32, 32, 0.5);
    --CFColors-Black-rgba: rgba(0, 0, 0, 1);
}

body {
    height: 100%;
    background-color: cadetblue;
    background: linear-gradient(to right, rgb(121, 145, 187), rgb(174, 201, 248), rgb(148, 186, 252));

}

.wpBackground {
    height: 100vh;
    min-height: 500px;
    background: url(images/weather_nyc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#forcastTab li a.active {
    border-bottom-color: transparent;
    background-color: var(--CFColors-Orange-rgba);
    color: var(--CFColors-darkGrey-rgba);
    font-weight: bold;
}

#forecastTab li a {
    border-bottom-color: transparent;
    color: black;
    font-weight: bold;
    font-weight: 400;
}

#weatherIcon {
    max-width: 30%;
    height: auto;

}

#location {
    font-weight: bolder;
    font-size: 20px;
}

#wpTitle {
    padding-bottom: 20px;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    color: var(--CFColors-darkGrey-rgba);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--CFColors-darkGrey-rgba);

}

#wpMain {
    color: white;
    padding: 20px;
    resize: vertical;
}

#wpCurrent {
    background-color: var(--CFColors-grayBlue-rgba);
    color: white;
    resize: vertical;
}

#currentTemp {
    font-size: 8em;
    font-family: titling-gothic-fb-wide, sans-serif;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--CFColors-darkGrey-rgba);
}

#wpConditions {
        background-color: var(--CFColors-Orange-rgba);
        color: white;
        font-size: 30px;
        padding-top: 80px;
        text-align: center;
        font-weight: bolder;
        resize: vertical;
        -webkit-text-stroke-color: var(--CFColors-darkGrey-rgba);
    }

#wpForecast {
        background-color: var(--CfColors-darkBlue-rgba);
        color: white;
        padding: 20px;
        resize: vertical;
        font-size: 1em;
    }
    
#wpFooter {
        font-size: 1em;
        color: var(--CFColors-darkGrey-rgba);
    }
    
#wpFooter div a {
        font-size: 1em;
        color: var(--CFColors-darkGrey-rgba);
    }

#dailyForecast {
    color: white;
    background-color: var(--CfColors-darkBlue-rgba);
}

#weeklyForecast {
    color: white;
    background-color: var(--CfColors-darkBlue-rgba);
}
